{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-semibold text-center mb-8 text-black-700">Event Details</h1>
        <div class="bg-gray-100 rounded-lg shadow-md p-6">
            <div class="mb-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-800">Description</h2>
                <p>{{ event.description }}</p>
            </div>
            <div class="mb-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-800">Start Date</h2>
                <p>{{ event.startdate|date('Y-m-d H:i:s') }}</p>
            </div>
            <div class="mb-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-800">Maximum Capacity</h2>
                <p>{{ event.maximumcapacity }}</p>
            </div>
            <div class="mb-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-800">Address</h2>
                <p>{{ event.address }}</p>
            </div>
            <div class="mb-4">
                <h2 class="text-xl font-semibold mb-2 text-gray-800">Referent</h2>
                <p>{{ event.referent.username }}</p>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-semibold mb-4 text-black-700">Attendees</h2>
            <div class="bg-gray-100 rounded-lg shadow-md p-4">
                {% if event.attendies is not empty %}
                    <ul>
                        {% for attendee in event.attendies %}
                            <li>{{ attendee.username }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No attendees found for this event.</p>
                {% endif %}
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-semibold mb-4 text-black-700">Encounters</h2>
            <div class="bg-gray-100 rounded-lg shadow-md p-4">
                {% if event.encounters is not empty %}
                    <ul>
                        {% for encounter in event.encounters %}
                            <li>First Team: {{ encounter.firstteam.type.value }} {{ encounter.firstteam.name }}, Second
                                Team: {{ encounter.secondteam.type.value }} {{ encounter.secondteam.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No encounters found for this event.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
