{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow px-4">
                    <div class="card-header bg-primary text-black text-center">
                        <h1 class="h1 mb-0">Connexion 🚀</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            {% if app.user %}
                                <div class="alert alert-info" role="alert">
                                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}
                            <div class="form-group mb-4">
                                <label for="inputEmail" class="text-primary">Email ✉️</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style="border: 1px solid #ced4da;">
                            </div>
                            <div class="form-group mb-4">
                                <label for="inputPassword" class="text-primary">Mot de passe 🔑</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required style="border: 1px solid #ced4da;">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" type="submit">Se connecter</button>
                        </form>
                        <p class="text-center">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous ici</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
