{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow px-4">
                    <div class="card-header bg-primary text-black text-center">
                        <h3 class="h3 mb-0">Inscription 📝</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {{ form_errors(registrationForm) }}

                            {{ form_row(registrationForm.email, {
                                label: 'Email ✉️',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Mot de passe 🔑',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            {{ form_row(registrationForm.firstname, {
                                label: 'Prénom',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            {{ form_row(registrationForm.lastname, {
                                label: 'Nom de famille',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            {{ form_row(registrationForm.username, {
                                label: 'Nom d\'utilisateur',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            {{ form_row(registrationForm.birthdate, {
                                label: 'Date de naissance 🎂',
                                attr: { class: 'form-control mb-4', style: 'border: 1px solid #ced4da;' }
                            }) }}

                            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
