{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 text-blue-800">Catégories</h1>
    <form action="{{ path('homepage') }}" method="get">
        <ul>
            {% for category, tagsOfType in tags %}
                <li class="mb-4">
                    <h2 class="text-lg font-semibold mb-2">{{ category }}</h2>
                    <select name="{{ category }}" class="block border border-gray-300 rounded p-2">
                        <option value=""
                                disabled{% if not selectedTags is defined or not selectedTags[category] is defined %} selected{% endif %}>
                            Choisir {{ category }}</option>
                        {% for tag in tagsOfType %}
                            {% if selectedTags is defined and selectedTags[category] is defined %}
                                {% if selectedTags[category] == tag.id %}
                                    <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                                {% else %}
                                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Chercher
        </button>
        <button type="button" onclick="resetForm()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mt-4 ml-2">Reset
        </button>
    </form>
    {% if is_granted('ROLE_REFERENT') %}
        <a href="{{ path('app_event_new') }}"
           class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4">Créer un événement</a>
    {% endif %}
    <h1 class="text-2xl font-bold my-8 text-blue-800">Liste des Événements</h1>
    <ul>
        {% for event in events %}
            <li class="mb-8">
                <div class="border rounded p-4 bg-white shadow-md">
                    <h2 class="text-xl font-bold mb-4 text-blue-900">{{ event.description }}</h2>
                    <p>Start Date: {{ event.startdate|date('Y-m-d H:i:s') }}</p>
                    <p>Location: {{ event.location.value }}</p>
                    <p>Maximum Capacity: {{ event.maximumcapacity }}</p>
                    <p>Address: {{ event.address }}</p>
                    <p>Referent: {{ event.referent.username }}</p>
                    <p>Tags:
                        {% for tag in event.tags %}
                            {{ tag.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}"
                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Voir</a>

                    {% if is_granted('ROLE_REFERENT') and event.referent == app.user %}
                        <a href="{{ path('app_event_edit', {'id': event.id}) }}"
                           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Modifier</a>
                    {% endif %}

                </div>

            </li>
        {% endfor %}
    </ul>

    <script>
        function resetForm() {
            // Reset all dropdowns to their initial state
            var selects = document.querySelectorAll('select');
            selects.forEach(function (select) {
                select.selectedIndex = 0;
            });

            // Alternatively, you can reset the entire form
            // document.querySelector('form').reset();
        }
    </script>
{% endblock %}
